doctype html
html
  head
    title jsonschema-form-mw #{label ? ` (${label})`: ''}
    link(rel='stylesheet' href='/styles.css')
  body
    block before
    block main
      script(type='application/json' data-component='jsonschema-form')
        != JSON.stringify(resource || {}, null, 2)
      script(src='/main.js')
