doctype html
html
  head
    title json-schema-formalizer #{label ? ` (${label})`: ''}
    link(rel='stylesheet' href='/style.css')
  body
    block before
    block main
      script(type='application/json' rel='schema')
        != JSON.stringify(resource || {}, null, 2)
      script(src='/main.js')
