//-
  ---
  resource:
    action: edit
    result:
      title: Untitled
      status: draft
      score: 0.4
    schema: !include _schema.yml
    uiSchema: !include _uiSchema.yml
  ---

extend ../_/layout
