//--
  ---
  tests:
  - !include schema/_empty.yml
  - !include schema/_string.yml
  - !include schema/_number.yml
  - !include schema/_integer.yml
  - !include schema/_boolean.yml
  - !include schema/_object.yml
  - !include schema/_array.yml
  - !include schema/_tables.yml
  ---

extend _/layout

block head
  link(rel='stylesheet' href='style.css')

block after
  details
    summary REPL &mdash; Interactive editor
    #editor.formator

  script(src='main.test.js')
