extend _/layout

block main
  .json-form
    h2.form-title It works!
    ul.reset
      li
        h3 1. defaults
        ul
          li: a(href='/new.html' target='_frame') new
          li: a(href='/show.html' target='_frame') show

  iframe(name='_frame' src='about:blank' frameborder=0)
  style.
    iframe {
      width: 100%;
      height: 100%;
      padding: 5px 0;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
    }
