//--
  ---
  features:
    defaults:
      - index
      - new
      - show
      - edit
    values:
      - index
      - new
      - show
      - edit
  ---

extend _/layout

block main
  .json-form
    h2.form-title It works!
    ul.reset
      li
        each tests, feature in features
          h3= feature
          ul
            each test in tests
              li
                a(href=`/${feature}/${test}.html` target='_frame')= test

  iframe(name='_frame' src='about:blank' frameborder=0)
  style.
    iframe {
      width: 100%;
      height: 100%;
      padding: 5px 0;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
    }
