//--
  ---
  tests:
  - !include schema/_empty.yml
  - !include schema/_enums.yml
  - !include schema/_string.yml
  - !include schema/_number.yml
  - !include schema/_integer.yml
  - !include schema/_boolean.yml
  - !include schema/_object.yml
  - !include schema/_array.yml
  - !include schema/_table.yml
  - !include schema/_files.yml
  ---

extend _/layout

block head
  import(from='style.css')

block before
  #builder
